<div class="author-container">
    <div class="img-container">
        <img src="../public/img/user-min.jpg">
    </div>
    <div class="author-content">
        <div class="author-content-header">
            <p class="name">Jean Forteroche</p>
        </div>
        <div>
            Lorem Ipsum dolor......
        </div>
    </div>
</div>