<div class="author-container">
    <div class="img-container">
        <img src="../public/img/jforteroche.jpg">
    </div>
    <div class="author-content">
        <div class="author-content-header">
            <a href="../public/index.php?route=about" class="name"><h2>Jean Forteroche</h2></a>
        </div>
        <div>
            Bienvenue ! Vous êtes actuellement sur mon Blog où je poste au fur et à mesure un nouveau chapitre de mon dernier roman intitulé "Billet simple pour l'Alaska". N'hésitez pas à y laisser des commentaires !
        </div>
    </div>
</div>
