{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="css/error.css" />
{% endblock %}

{% block body %}

    <div id="error">
        <h1>Oh Oh !</h1>
        <div id="messageZone">
            <img src="../public/img/error-500.jpg">
            <p>Désolé, il y a un petit problème technique.</p>
        </div>
        <a href="../public/index.php">← Retour à l'accueil</a>
    </div>


{% endblock %}