body {
    background-color: #f1f1f1;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.blog-title {
    margin: 15px 0;
}

table {
    margin-top: 15px;
    margin-bottom: 70px !important;
    box-shadow: 0px 0px 15px 0px rgba(128,128,128,1);
    border-top: #4e555b 1px solid;
}

thead {
    background-color: #4e555b;
    font-weight: bold;
    color: #ffffff;
}

.control-button-row {
    display: flex;
    flex-direction: row;
    float: right;
}

.control-button-col {
    display: flex;
    flex-direction: column;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.id {
    width: 5%;
}

.author, .date {
    width: 15%;
}

.action {
    width: 23%;
}

.custom-button {
    padding: 5px;
    margin: 0 2px;
}

.user-infos {
    margin: 30px auto;
}

.user-infos img {
    width: 150px;
    border: 5px solid white;
    border-radius: 50%;
    box-shadow: 0px 0px 20px 0px rgba(84,84,84,0.30);
}

.password-change {
    margin: 30px auto;
}

.password-change label, input {
    display: block;
    margin-bottom: 0.5em;
}

.btn-change-pass {
    padding: 5px 10px;
    margin: 0 2px;
}

.btn-account-del {
    margin-top: 30px;
}

.btn-article-sub {
    margin-top: 20px;
}

#title {
    width: 100%;
    font-size: 20px;
    padding: 5px 15px;
}

#content {
    height: 400px;
}