{% extends '../twig/base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="css/error.css" />
{% endblock %}

{% block body %}

    <div id="error">
        <h1>Oups !</h1>
        <div id="messageZone">
            <img src="../public/img/error-404.jpg">
            <p>Désolé, la page que vous cherchez est introuvable.</p>
        </div>
        <a href="../public/index.php">← Retour à l'accueil</a>
    </div>


{% endblock %}