{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="css/login.css" />
{% endblock %}

{% block title %}Connexion | Jean Forteroche{% endblock %}

{% block body %}

        <div id="login">
            <h1>Connexion</h1>
            {{ session.show("error_login") }}
            <form id="loginform" method="post" action="index.php?route=login">
                <label for="pseudo">Identifiant</label>
                <input type="text" id="pseudo" name="pseudo">
                <label for="password">Mot de passe</label>
                <input type="password" id="password" name="password">
                <input type="submit" value="Se connecter" id="submit" name="submit">
            </form>
            <a href="index.php">← Retour à l'accueil</a> | <a href="index.php?route=register">Inscription</a>
        </div>

{% endblock %}